<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[${title}]] - 상세보기</title>
</head>
<body>
<div layout:fragment="content" class="container mt-5">
    <!-- 페이지 헤더 -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 th:text="${question.title}">질문 제목</h1>
        <a th:href="@{/questions}" class="btn btn-secondary">목록으로 돌아가기</a>
    </div>

    <!-- 질문 내용 -->
    <div class="card mb-4">
        <div class="card-body">
            <p class="card-text" th:text="${question.content}">질문 내용이 여기에 표시됩니다.</p>
        </div>
        <!-- 작성일 -->
        <div class="text-muted mb-4">
            <small>작성일: <span th:text="${question.dateCreated}">YYYY-MM-DD</span></small>
        </div>
        <div>
            <a th:href="@{/questions/edit/{seqId}(seqId=${question.seqId})}" class="btn btn-sm btn-secondary">[[#{question.list.edit}]]</a>
            <form th:action="@{/questions/delete/{seqId}(seqId=${question.seqId})}"
                  th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                <button type="submit" class="btn btn-sm btn-secondary">[[#{question.list.delete}]]</button>
            </form>
        </div>
    </div>

    <!-- 답변 등록하기 버튼 -->
    <div class="d-flex justify-content-end">
        <a th:href="@{/answers/add}" class="btn btn-primary">답변 등록하기</a>
    </div>

    <h4>답변</h4>
    <div th:each="answer : ${answers}" class="card mb-3">
        <div class="card-body">
            <p th:text="${answer.content}">답변 내용</p>
            <div class="text-muted">
                <small>작성일: <span th:text="${answer.dateCreated}">YYYY-MM-DD</span></small>
            </div>
            <div>
                <a th:href="@{/answers/edit/{seqId}(seqId=${answer.seqId})}" class="btn btn-sm btn-secondary">[[#{answer.list.edit}]]</a>
                <form th:action="@{/answers/delete/{seqId}(seqId=${answer.seqId})}"
                      th:hx-confirm="#{delete.confirm}" method="POST" class="d-inline">
                    <input type="hidden" name="question" th:value="${question.seqId}"/>
                    <button type="submit" class="btn btn-sm btn-secondary">[[#{answer.list.delete}]]</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
