<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{question.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{question.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/questions}" class="btn btn-secondary">[[#{question.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('question')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='question', field='seqId', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='question', field='title', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='question', field='content', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='question', field='users', type='select')}" />
                <input type="submit" th:value="#{question.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
