<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{question.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{question.list.headline}]]</h1>
                <div>
                    <a th:href="@{/questions/add}" class="btn btn-primary ms-2">[[#{question.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${questions.empty}">[[#{question.list.empty}]]</div>
            <div th:if="${!questions.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{question.seqId.label}]]</th>
                            <th scope="col">[[#{question.title.label}]]</th>
                            <th scope="col">[[#{question.users.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="question : ${questions}">
                            <td>[[${question.seqId}]]</td>
                            <td>
                                <a th:href="@{|/questions/detail/${question.seqId}|}" th:text="${question.title}"></a>
                            </td>
                            <td>[[${question.name}]]</td>
                            <td>
<!--                                <div class="float-end text-nowrap">-->
<!--                                    <a th:href="@{/questions/edit/{seqId}(seqId=${question.seqId})}" class="btn btn-sm btn-secondary">[[#{question.list.edit}]]</a>-->
<!--                                    <form th:action="@{/questions/delete/{seqId}(seqId=${question.seqId})}"-->
<!--                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">-->
<!--                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{question.list.delete}]]</button>-->
<!--                                    </form>-->
<!--                                </div>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
