<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout}">
    <head>
        <title>[[#{answer.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{answer.list.headline}]]</h1>
                <div>
                    <a th:href="@{/admin/answers/add}" class="btn btn-primary ms-2">[[#{answer.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${answers.empty}">[[#{answer.list.empty}]]</div>
            <div th:if="${!answers.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{answer.seqId.label}]]</th>
                            <th scope="col">Question seqId</th>
                            <th scope="col">[[#{answer.users.label}]]</th>
                            <th scope="col">[[#{answer.content.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="answer : ${answers}">
                            <td>[[${answer.seqId}]]</td>
                            <td>[[${answer.question.title}]]</td>
                            <td>[[${answer.getUsers().name}]]</td>
                            <td>[[${answer.content}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/admin/answers/edit/{seqId}(seqId=${answer.seqId})}" class="btn btn-sm btn-secondary">[[#{answer.list.edit}]]</a>
                                    <form th:action="@{/admin/answers/delete/{seqId}(seqId=${answer.seqId})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{answer.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
