<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout}">
    <head>
        <title>[[#{notice.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{notice.add.headline}]]</h1>
                <div>
                    <a th:href="@{/admin/notices}" class="btn btn-secondary">[[#{notice.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('notice')}" />
            <form th:action="${requestUri}" method="post"  enctype="multipart/form-data">
                <div th:replace="~{fragments/forms::inputRow(object='notice', field='title', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='notice', field='content', required=true, type='textarea')}" th:wrap="hard"/>
                <div th:replace="~{fragments/forms::inputRow(object='notice', field='isPopup', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='notice', field='isMust', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='notice', field='users', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='notice', field='file', required=true, type='file')}" />
                <input type="submit" th:value="#{notice.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
