<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout}">
    <head>
        <title>[[#{mentorFile.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{mentorFile.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/admin/mentorFiles}" class="btn btn-secondary">[[#{mentorFile.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('mentorFile')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='mentorFile', field='seqId', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='mentorFile', field='fileSrc', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='mentorFile', field='mentor', type='select')}" />
                <input type="submit" th:value="#{mentorFile.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
