<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
    <title>[[#{mentorFile.list.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">[[#{mentorFile.list.headline}]]</h1>
        <div>
            <a th:href="@{/admin/mentorFiles/add}" class="btn btn-primary ms-2">[[#{mentorFile.list.createNew}]]</a>
        </div>
    </div>
    <div th:if="${mentorFiles.empty}">[[#{mentorFile.list.empty}]]</div>
    <div th:if="${!mentorFiles.empty}" class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead>
            <tr>
                <th scope="col">[[#{mentorFile.seqId.label}]]</th>
                <th scope="col">[[#{mentorFile.fileSrc.label}]]</th>
                <th scope="col">[[#{mentorFile.mentor.label}]]</th>
                <th><!-- --></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mentorFile : ${mentorFiles}">
                <td>[[${mentorFile.seqId}]]</td>
                <td>[[${mentorFile.fileSrc}]]</td>
                <td>[[${mentorFile.mentor}]]</td>
                <td>
                    <div class="float-end text-nowrap">
                        <a th:href="@{/admin/mentorFiles/edit/{seqId}(seqId=${mentorFile.seqId})}" class="btn btn-sm btn-secondary">[[#{mentorFile.list.edit}]]</a>
                        <form th:action="@{/mentorFiles/delete/{seqId}(seqId=${mentorFile.seqId})}"
                              th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-sm btn-secondary">[[#{mentorFile.list.delete}]]</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>