<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{answer.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{answer.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/answers}" class="btn btn-secondary">[[#{answer.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('answer')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='answer', field='seqId', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='answer', field='content', required=true, type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='answer', field='question', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='answer', field='users', type='select')}" />
                <div class="form-group">
                    <label for="file">Upload File:</label>
                    <input type="file" name="file" id="file" class="form-control">
                </div>
                <input type="submit" th:value="#{answer.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
