<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout}">
    <head>
        <title>[[#{userFile.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{userFile.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/admin/userFiles}" class="btn btn-secondary">[[#{userFile.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('userFile')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='userFile', field='seqId', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='userFile', field='fileSrc')}" />
                <div th:replace="~{fragments/forms::inputRow(object='userFile', field='type')}" />
                <div th:replace="~{fragments/forms::inputRow(object='userFile', field='expireDt', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='userFile', field='userSeqId', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='userFile', field='user', required=true, type='select')}" />
                <input type="submit" th:value="#{userFile.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
