<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout}">
    <head>
        <title>[[#{userFile.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{userFile.list.headline}]]</h1>
                <div>
                    <a th:href="@{/admin/userFiles/add}" class="btn btn-primary ms-2">[[#{userFile.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${userFiles.empty}">[[#{userFile.list.empty}]]</div>
            <div th:if="${!userFiles.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{userFile.seqId.label}]]</th>
                            <th scope="col">[[#{userFile.fileSrc.label}]]</th>
                            <th scope="col">[[#{userFile.type.label}]]</th>
                            <th scope="col">[[#{userFile.expireDt.label}]]</th>
                            <th scope="col">[[#{userFile.userSeqId.label}]]</th>
                            <th scope="col">[[#{userFile.user.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="userFile : ${userFiles}">
                            <td>[[${userFile.seqId}]]</td>
                            <td>[[${userFile.fileSrc}]]</td>
                            <td>[[${userFile.type}]]</td>
                            <td>[[${userFile.expireDt}]]</td>
                            <td>[[${userFile.userSeqId}]]</td>
                            <td>[[${userFile.user}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/admin/userFiles/edit/{seqId}(seqId=${userFile.seqId})}" class="btn btn-sm btn-secondary">[[#{userFile.list.edit}]]</a>
                                    <form th:action="@{/userFiles/delete/{seqId}(seqId=${userFile.seqId})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{userFile.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
