<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-main}">
<head>
    <title>LectureList</title>
</head>
<script>
    function onChangeSort(obj) {
        console.log("Sort form is being submitted.");  // 콘솔에 메시지 출력
        var sortForm = $(obj).val();
        console.log(sortForm);  // 콘솔에 메시지 출력
        alert("dfdfdf");
        sortForm.submit();
    }
</script>
<body>

<div layout:fragment="content" >

    <form th:action="@{/lectureList}" id="sortForm" method="get">
        <select class="bg-gray-300 px-1 py-1 rounded" name="caSort" onchange="onChangeSort(this)" th:value="${param.caSort}">
            <option value="0" th:selected=" ${param.caSort == '0'} ">전체보기</option>
            <option value="1"  th:selected=" ${param.caSort == '1'} ">mentor</option>
            <option value="2"  th:selected=" ${param.caSort == '2'} ">mentee</option>
        </select>

    </form>



    <!-------mentor-------->
    <div th:if = "${mentorsUserSeqId == null}" class="row pb-3" style="position: relative; min-height: 200px;">
        <!--        sessionuser의 seqId값을 가져와서, 그 아이디로 있는 멘토가 있는지 확인. 멘토가 없다면 화면 띄우기 -->
        <!-- mentor 목록이 없는 경우 -->
        <div class="d-flex justify-content-center align-items-center"
             style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="col-12">
                <div class="alert alert-info text-center" role="alert">
                    아직 멘토 신청서가  존재하지 않아요.
                </div>
                <a th:href="@{/Application/add}" class="btn btn-primary px-4">신청서 작성하러 가기</a>
            </div>
        </div>
    </div>

    <div th:if = "${mentorsUserSeqId != null}" class="row pb-3" style="position: relative; min-height: 200px;">
        <!--        sessionuser의 seqId값을 가져와서, 그 아이디로 있는 멘토가 있는지 확인. 멘토가 없다면 화면 띄우기 -->
        <!-- mentor 목록이 없는 경우 -->
        <div class="d-flex justify-content-center align-items-center"
             style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="col-12">
                <a th:href="@{/Application/edit}" class="btn btn-primary px-4">신청서 수정하러 가기</a>
            </div>
        </div>
    </div>
    <!--mentor end-->


</div>

</body>
</html>