<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-main}">
<head>
    <title>Introduce</title>
    <!-- Add Bootstrap CSS -->
</head>
<body>

<div layout:fragment="content">
    <!--Introduce 본문-->

    <!--학생회말-->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                        <img
                                class="img-fluid rounded mb-5 mb-lg-0"
                                src="/images/justicelogo.png"
                                alt=""
                        />

                </div>
                <div class="col-lg-7">
                    <p class="section-title pr-5">
                        <span class="pr-2">Learn About Us</span>
                    </p>
                    <h1 class="mb-4">멘토링  프로그램 </h1>
                    <p>
                    <div>안녕하십니까. 정보의생명공학대학 학부생 여러분, 정보의생명공학대학 학생회 "정의" 입니다.</div>
                    <div>단과대학 차원에서 진행하는 멘토링을 통해, 학부 융합을 도모하기 위해 현 사업을 추진하게 되었습니다.</div>

                        <div>“멘토멘티 멘토링 프로그램”은 정보의생명공학대학 학생회가 주최하는 혁신적인 멘토링 프로젝트로서 이 프로그램은 학생들 간의 지식과 경험의 공유를 통해 학부 내 융합적 학습과 협업을 촉진하며, 학문적 성장과 실질적 경험을 동시에 지원하고자 합니다.
                        멘토와 멘티 간의 상호 작용을 통해 학업 및 프로젝트 역량을 강화하고, 장기적인 네트워크 구축을 목표로 하며 본 프로그램을 통해 선후배 간의 원활한 소통을 증진시키며, 실질적인 학문적 지원과 협력의 기회를 제공하여 궁극적으로 정보의생명공학대학의 학문적 성과를 한층 높이는 데 기여하고자 합니다.
                        </div>
                    <div>정의대의 첫 학생회이기에, 이번 시범 사업은 분명 부족한 점이 많을 것 같지만, 최대한 많은 학부생 분께 학생회의 이점이 보여지도록 노력하겠습니다.
                    </div>
                        <div>감사합니다.</div>

                    </p>
                    <div class="row pt-2 pb-4">
                        <div class="col-6 col-md-4">
                            <img class="img-fluid rounded" src="/images/IMG_4789.png" alt="" />
                        </div>
                        <div class="col-6 col-md-8 mt-3">
                            <ul class="list-inline m-0">
                                <ul class="list-unstyled">
                                    <li class="py-2 border-top border-bottom">
                                        <i class="fa fa-thumbs-up text-primary mr-3"></i>정정 당당하게
                                    </li>
                                    <li class="py-2 border-bottom">
                                        <i class="fa fa-handshake text-primary mr-3"></i>의롭게
                                    </li>
                                    <li class="py-2 border-bottom">
                                        <i class="fa fa-users text-primary mr-3"></i>학생회, 정의
                                    </li>
                                </ul>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--학생회 END-->
    <div class="row justify-content-center">
        <div class="col-12 text-center mb-2">
            <div class="multipleDiv" id="multipleDiv_junghyun_160">
                <div class="multipleContentsDiv clear-fix" id="multipleContentsDiv_junghyun_160">
                    <div class="_obj _objHtml" id="menu50154_obj839" style="">
                        <div>
                            <embed width="100%" height="480" src="https://www.youtube.com/embed/GPr5JxBOdOM" type="text/html">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Bootstrap JS and dependencies -->

</body>
</html>
