<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-main}">
<head>
    <title>LectureList</title>
</head>
<body>

<div layout:fragment="content" >
    lecturelist 본문
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5">
                    <span class="px-2">멘토 신청서</span>
                </p>
                <h1 class="mb-4">첨부파일 필수</h1>
            </div>
            <div>
                <div >
                    <div class="contact-form" >
                        <div id="success"></div>
                        <form th:action="@{/memtorApplication/add}" th:object="${mentor}" method="post">

                            <div class="control-group">
                                <input
                                        type="text"
                                        class="form-control"
                                        th:field="*{title}"
                                        placeholder="제목"
                                        required="required"
                                        data-validation-required-message="Please enter your name"
                                />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input
                                        type="text"
                                        class="form-control"
                                        th:field="*{content}"
                                        placeholder="내용"
                                        required="required"
                                        data-validation-required-message="Please enter content"
                                />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input
                                        type="text"
                                        class="form-control"
                                        th:field="*{team}"
                                        placeholder="그룹명"
                                        required="required"
                                        data-validation-required-message="Please enter team name"
                                />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <select required="required" class="form-control" th:field="*{category}">
                                    <option value="" disabled selected>멘토링주제선택</option>
                                    <option value="1">프로젝트</option>
                                    <option value="2">학부수업(2학기개강하는수업만진행가능)</option>
                                </select>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input
                                        type="text"
                                        class="form-control"
                                        th:field="*{minMent}"
                                        placeholder="최소멘티수"
                                        required="required"
                                        data-validation-required-message="원하는 최소 멘티수 작성"
                                />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input
                                        type="text"
                                        class="form-control"
                                        th:field="*{maxMent}"
                                        placeholder="최대멘티수"
                                        required="required"
                                        data-validation-required-message="원하는 최대 멘티수 작성"
                                />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <div th:replace="~{fragments/forms::inputRow(object='mentor', field='file', required=true, type='file')}" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <input
                                    class="btn btn-primary"
                                    type="submit"
                                    id="sendMessageButton"
                            />
                        </form>
                    </div>
                </div >
            </div>
        </div>
    </div>
</div>

</body>
</html>