<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-main}">
<head>
    <title>LectureList</title>
</head>
<body>

<div layout:fragment="content" >
    <!--lecturelist 본문-->
    <div class="row pb-3" style="position: relative; min-height: 200px;">
        <!-- mentor 목록이 없는 경우 -->
        <div class="d-flex justify-content-center align-items-center"
             style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="col-12">
                <div class="alert alert-info text-center" role="alert">
                    아직 강의가 개설되지 않았어요.
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>