<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-main}">
<head>
    <title>Question</title>
    <style>
        .filter-form {
            display: flex;
            align-items: center;
        }
        .filter-form select {
            flex: 1;
        }
        .filter-form button {
            margin-left: 10px;
        }
    </style>
</head>
<body>

<div layout:fragment="content">
    <div class="container mt-4">
        <div class="row mb-4">
            <!-- 글쓰기 버튼 -->
            <div class="col-md-3 text-right">
                <a th:href="@{/question/add}" class="btn btn-primary btn-sm">글쓰기</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="list-group">
                <div th:each="question : ${paging.content}" class="list-group-item p-3 border-5">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="flex-grow-1">
                            <a th:href="@{/question/detail/{id}(id=${question.seqId})}" th:text="${question.title}" class="h5 mb-1">Title</a>
                        </div>
                        <div class="text-muted text-right">
                            <small th:text="'작성자: ' + ${question.users.name}">Author</small>
                            <small th:text="${#dates.format(question.dateCreated, 'yyyy-MM-dd')}">작성날짜</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>




</body>
</html>
