<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-main}">
<head>
    <title>Report</title>
    <!-- Add Bootstrap CSS -->
</head>
<body>

<div layout:fragment="content">

    <div class="row pb-3" style="position: relative; min-height: 200px;">
        <!--        sessionuser의 seqId값을 가져와서, 그 아이디로 있는 멘토가 있는지 확인. 멘토가 없다면 화면 띄우기 -->
        <!-- mentor 목록이 없는 경우 -->
        <div class="d-flex justify-content-center align-items-center"
             style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="col-12">
                <div class="alert alert-info text-center" role="alert">
                    아직 생성되지 않았습니다.
                </div>

            </div>
        </div>
    </div>

</div>




</body>
</html>
