<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
    <title>[[#{mentor.add.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">[[#{mentor.add.headline}]]</h1>
        <div>
            <a th:href="@{/admin/mentors}" class="btn btn-secondary">[[#{mentor.add.back}]]</a>
        </div>
    </div>
    <div th:replace="~{fragments/forms::globalErrors('mentor')}" />
    <form th:action="${requestUri}" method="post" enctype="multipart/form-data">
        <div th:replace="~{fragments/forms::inputRow(object='mentor', field='title', required=true)}" />
        <div th:replace="~{fragments/forms::inputRow(object='mentor', field='category', required=true)}" />
        <div th:replace="~{fragments/forms::inputRow(object='mentor', field='minMent', required=true, type='number')}" />
        <div th:replace="~{fragments/forms::inputRow(object='mentor', field='maxMent', required=true, type='number')}" />
        <div th:replace="~{fragments/forms::inputRow(object='mentor', field='content', type='textarea')}" />
        <div th:replace="~{fragments/forms::inputRow(object='mentor', field='team', required=true)}" />
        <div th:replace="~{fragments/forms::inputRow(object='mentor', field='status', type='number')}" />
        <div th:replace="~{fragments/forms::inputRow(object='mentor', field='users', required=true, type='select')}" />
        <div th:replace="~{fragments/forms::inputRow(object='mentor', field='file', required=true, type='file')}" />
        <input type="submit" th:value="#{mentor.add.headline}" class="btn btn-primary mt-4" />
    </form>
</div>
</body>
</html>